/* Put your custom styles here and run `npm start` from the "src" directory on */

#TableOfContents ul li {
  margin-bottom: 1em;
}

.lh-copy blockquote {
  display: block;
  font-size: .875em;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-left: 4px solid #ccc;
  padding-left: 1rem;

}

.nested-links a{
  overflow-wrap: break-word;
}

.bg_solarized_base02 {
  background-color: #073642;
}

.bg_solarized_base3 {
  background-color: #fdf6e3;
}

.bg_plan9_c8 {
  background-color: #f3f3d3;
}

.bg_plan9_c0 {
  background-color: #4a525a;
}

.bg_plan9 {
  background-color: #ffffeb;
}
